html {
    height: 100%;
}

body {
    height: 100%;
    background-image:url("https://wallpaperaccess.com/full/2249219.png");
    background-size: cover;
    font-family: 'Lobster', cursive;
}

a {
    text-decoration: none;
    color: rgb(245, 214, 37);
}

.main {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    display:flex;
    justify-content:center;
    font-size:24px;
    margin:15px;
}

#logo{
    width:20%;
    height:20%;
}

.navbar{
    display:flex;
    justify-content:space-around; 
    margin:50px;
    font-size: 25px;
}

.gallery{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.content{
    display:flex;
    justify-content:space-around;
}

.thumbnail-image{
    height:300px;
    width:325px; 
    border:8px double black;
    object-fit:cover;
}

.thumbnail{
    display:flex;
    margin:1%;
}
.footer{
    display:flex;
    justify-content:space-around;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective:1000px;
  padding:10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
}

.flip-card-front {
  background:url("https://upload.wikimedia.org/wikipedia/en/2/21/BTS_-_Map_of_the_Soul_7.png");
  background-size: cover;
  color: black;
}

.flip-card-back {
  background-color: rgba(0, 0, 255, 0.514);
  color: white;
  transform: rotateY(180deg);
}

h1{
    transform: translate(0px,80px);
    font-size:50px;
}

p{
    font-size: 25px;
    color:rgb(105, 21, 105);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

h2{
    text-align:center;
    border: 2px solid white;
    width:100%;
    background-color:lightBlue;
}

.members{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.facts{
    display:flex;
    justify-content:flex-start;
    margin:2px;
    
}

.profile{
    width:200px;
    height:250px;
    padding: 2px;
    margin: 10px;
    border-radius: 30%;
}

.details{
    display: block;
}

#jin{
  object-fit: cover;
}
#jimin{
  object-fit: cover;
}
#jungkook{
  object-fit: cover;
}
#namjoon{
  object-fit: cover;
}
#hobi{
  object-fit: cover;
}
#suga{
  object-fit: cover;
}
#v{
  object-fit: cover;
}

#copyright{
  color: rgb(245, 214, 37);
}